@model Aula05.ViewModels.OrderViewModels;

@{
    ViewData["Titulo"] = "Criar Order";
}

<div class="text-center">
    <h1>Cadastro de Pedido</h1>

    <div class="container">

        <form id="formOrder" method="post"
        asp-action="Create"
        asp-controller="Order">

            <div class="row">
                <div class="form-group">
                    <label asp-for="@Model.CustomerID">Nome:</label>
                    <select asp-for="@Model.CustomerID">
                        @foreach(var c in Model.Customers)
                        {
                        <option value="@c.Id">@c.Name</option>
                        }

                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Selth>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(int i = 0; i < Model.SelectedItems!.count; i++) {
                                    <tr>
                                        <td><input asp-for="item.IsSelected" /></td>
                                        <td>
                                            <input type="hidden" asp-for="@Model.SelectedItems[i].OrderItem.Product!.Id">
                                            <spam>@Model.SelectedItems[i].OrderItem.Product!.Name</spam>
                                        </td>
                                        <td><span>@string.Format("{0:C}", Model.SelectedItems[i].OrderItem.Product!.CurrentPrice)</span></td>
                                        <td><input asp-for="@string.Format("{0:C}", Model.SelectedItems[i].OrderItem.Product!.Quantity)"></td>
                                        <td><input asp-for="@string.Format("{0:C}", Model.SelectedItems[i].OrderItem.Product!.PurchasePrice)"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </select>
                </div>
            </div>

            <div class="row">

            </div>

            <button style="margin-bottom: 10px" id="btnCustomer"
                    type="submit"
                    class="btn btn-primary"
                    value="Cadastrar">
                Cadastrar
            </button>

        </form>

    </div>
</div>
